<details>
  <summary>Resources &amp; Tools</summary>
  <ul>
    <p>Using following tools with ♥.</p>
    <li>
      <a href="https://www.typescriptlang.org/" target="_blank">
        <img ngSrc="typescript.svg" alt="typescript" width="130" height="32"/>
      </a>
    </li>
    <li>
      <a href="https://angular.io/" target="_blank">
        <img ngSrc="angular.svg" alt="angular" width="118" height="32"/>
      </a>
    </li>
    <li>
      <a href="https://nx.dev/angular" target="_blank">
        <img ngSrc="nrwl.svg" alt="nx" width="52" height="32"/>
      </a>
    </li>
    <li>
      <a href="https://tailwindcss.com" target="_blank">
        <img ngSrc="tailwindcss.svg" alt="tailwind" width="52" height="32"/>
        <span>Tailwind CSS</span>
      </a>
    </li>
    <li>
      <a href="https://www.jetbrains.com/webstorm" target="_blank">
        <img ngSrc="webstorm.svg" alt="WebStorm" width="32" height="32"/>
        <span>Webstorm</span>
      </a>
    </li>
  </ul>
</details>

<details>
  <summary>online version</summary>
  <ul>
    <li>
      <a href="https://cdecu.github.io/yacg/">
        yacg
      </a>
    </li>
  </ul>
</details>

<details>
  <summary>cmdline version</summary>
  <pre>
json2code --help
json2code parse toto.json
  </pre>
</details>
